<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Poshta track</title>
      <link href="./assets/css/bootstrap.css" rel="stylesheet"/>
      <link href="./assets/css/application.css" rel="stylesheet"/>
  </head>

  <body>

    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <span class="navbar-brand">Track</span>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>
        Here is static content in the web page.
      </p>
    </div>

    <script src="./assets/js/vendor/jquery-1.10.2.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/entities/package.js"></script>
    <script src="./assets/js/apps/packages/list/list_view.js"></script>
    <script src="./assets/js/apps/packages/list/list_controller.js"></script>

    <script type="text/template" id="static-template">
      <p>This is text that was rendered by our Marr app. </p>
    </script>

    <script type="text/template" id="different-static-template">
      <p>Text from a different template ... </p>
    </script>

    <script type="text/template" id="package-template">
      <p><%= barcode %></p>
    </script>

    <script type="text/template" id="package-list-item">
      <td><%= id %></td>
      <td><%= barcode %></td>
      <td>
        <button class="btn btn-default btn-xs js-delete-package">
          <i class="glyphicon glyphicon-remove-circle"></i>
          Delete
        </button>
      </td>
    </script>

    <script type="text/template" id="package-list">
        <thead>
          <tr>
            <th>#</th><th>Barcode</th><th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </script>

    <script type="text/javascript">
        Tracker.start();
    </script>
  </body>
</html>
