<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Poshta track</title>
      <link href="./assets/css/bootstrap.css" rel="stylesheet"/>
      <link href="./assets/css/application.css" rel="stylesheet"/>
  </head>

  <body>

    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <span class="navbar-brand">Track</span>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>
        Here is static content in the web page.
      </p>
    </div>

    <script src="./assets/js/vendor/jquery-1.10.2.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>

    <script type="text/template" id="static-template">
      <p>This is text that was rendered by our Marr app. </p>
    </script>

    <script type="text/template" id="different-static-template">
      <p>Text from a different template ... </p>
    </script>

    <script type="text/template" id="package-template">
      <p><%= barcode %></p>
    </script>

    <script type="text/template" id="package-list-item">
      <li><%= barcode %></li>
    </script>

    <script type="text/javascript">
      var Tracker = new Marionette.Application();

      Tracker.addRegions({
        mainRegion: "#main-region"
      });

      Tracker.Package = Backbone.Model.extend({
        defaults: {
          barcode: ""
        }
      });

      Tracker.PackageCollection = Backbone.Collection.extend({
        model: Tracker.Package
      });

      Tracker.PackageView = Marionette.ItemView.extend({
        tagName: "li",
        template: "#package-template",

        events: {
          "click p": "alertBarcode"
        },

        alertBarcode: function (e) {
          alert(this.model.escape("barcode"));
        }
      });

      Tracker.PackagesView = Marionette.CollectionView.extend({
        tagName: "ul",
        childView: Tracker.PackageView
      });

      Tracker.on("start", function(){
        var package = new Tracker.Package({
              barcode: 'test barcode'
            });
        var packageView = new Tracker.PackageView({
              template: "#package-template",
              model: package
            });

        var packages = new Tracker.PackageCollection([
          {
            barcode: "0000001"
          },
          {
            barcode: "0000002"
          },
          {
            barcode: "0000003"
          }
        ]);

        var packagesListView = new Tracker.PackagesView({
          collection: packages
        });

        Tracker.mainRegion.show(packagesListView);
      });

      Tracker.start();
    </script>
  </body>
</html>
